<!--===== HERO AREA START =======-->

<div class="hero-area1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="main-heading">
          <div class="image1 image-anime reveal">
            <img src="assets/img/hero/hero1-image1.png" alt="">
          </div>
          <div class="image2 shape-animaiton4">
            <img src="assets/img/shapes/hero-image1-shape1.png" alt="">
          </div>
          <div class="image3 animate2">
            <img src="assets/img/shapes/hero-image1-shape2.png" alt="">
          </div>
          <div class="space30"></div>
          <div class="heading1-w">
            <p data-aos="zoom-in-up" data-aos-duration="700">At our club, we bring together a community of passionate out door adventurers, offering unparalleled experiences in the wild. Whether you're casting a line in tranquil waters or tracking</p>
          </div>
          <div class="space30"></div>
          <div class="buttons" data-aos="zoom-in-up" data-aos-duration="900">
            <a class="theme-btn1" routerLink="{{url}}">{{ title }}<span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
            @if (!authService.isAuthenticated()){
            <a class="theme-btn3" routerLink="register">Join Us <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
            }
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="main-heading">
          <h1 class="text-anime-style-3">Experience Thrill Of The Hunt & The Joy Of The Catch</h1>
          <div class="space60"></div>
          <div class="main-image">
            <div class="reveal image-anime">
              <img src="assets/img/hero/hero1-image2.png" alt="">
            </div>
            <div class="shape animate4">
              <img src="assets/img/shapes/hero-image2-shape1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="sec-shape1" src="assets/img/shapes/hero-sec-shape1.png" alt="">
  <img class="sec-shape2" src="assets/img/shapes/hero-sec-shape2.png" alt="">
</div>

<!--===== HERO AREA END =======-->
