<!--===== SERVICE AREA START =======-->

<div class="service1 sp" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="heading1">
          <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="assets/img/icons/span-icon1.png" alt=""> Service</span>
          <h2 class="text-anime-style-3">Professional Hunting Expeditions</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800">Whether you're a seasoned pro or a newcomer to the wild, our expert guided fishing tours and professional hunting expeditions provide thrilling </p>
        </div>
      </div>
    </div>

    <div class="space60"></div>
    <div class="row" data-aos="zoom-in-left" data-aos-duration="800">
      <div class="col-lg-3">
        <div class="service1-box box1">
          <div class="">
            <div class="icon">
              <img src="assets/img/icons/service1-icon1.png" alt="">
            </div>
            <div class="heading1">
              <h4><a href="service-details.html">Guided Fishing Tours</a></h4>
              <p>Join us for year-round fishing and hunting events, bring the family for our youth programs and activities,</p>
              <a href="service-details.html" class="learn">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="service1-box box2">
          <div class="">
            <div class="icon">
              <img src="assets/img/icons/service1-icon2.png" alt="">
            </div>
            <div class="heading1">
              <h4><a >Pro Hunting Expeditions</a></h4>
              <p>We also offer custom adventure planning services, ensuring your trip is tailored to your preferences our expert guided.</p>
              <a  class="learn">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="service1-box box3">
          <div class="">
            <div class="icon">
              <img src="assets/img/icons/service1-icon3.png" alt="">
            </div>
            <div class="heading1">
              <h4><a >Gear Rental & Sales</a></h4>
              <p>Enhance your skills with our exclusive member workshops and training sessions, or engage in our wildlife conservation</p>
              <a  class="learn">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="service1-box box4">
          <div class="">
            <div class="icon">
              <img src="assets/img/icons/service1-icon4.png" alt="">
            </div>
            <div class="heading1">
              <h4><a >Youth & Family Activities</a></h4>
              <p>Need gear? Our comprehensive gear rental and sales service ensures you have the best equipment for your journey.</p>
              <a  class="learn">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--===== SERVICE AREA END =======-->
