<!--===== TES AREA START =======-->

<div class="tes1 sp" id="tes">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto text-center">
        <div class="heading1">
          <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="assets/img/icons/span-icon1.png" alt=""> Testimonial</span>
          <h2 class="text-anime-style-3">Praise From The Field Member Stories</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="700">The club’s focus on preserving the natural environment aligns perfectly with my values. It's an incredible feeling to be part of a community </p>
        </div>
      </div>
    </div>

    <div class="space60"></div>
    <div class="row">
      <div class="tes1-slider-all owl-carousel" data-aos="fade-up" data-aos-duration="700">

        <div class="single-slider">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="tes1-image-area">
                <div class="image image-anime">
                  <img src="assets/img/testimonial/tes1-image1.png" alt="">
                </div>
                <div class="logo">
                  <img src="assets/img/logo/tes1-logo.png" alt="">
                </div>
                <ul class="stars">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="heading-area">
                <h5>"Authentic Endorsements: Member Testimonials"</h5>
                <p>"As a novice hunter, I was hesitant to join, but the welcoming community and expert guides quickly put my fears to rest. I've learned so much about tracking & hunting techniques, the thrill of my first successful”</p>
                <div class="bottom-area">
                  <h4><a href="#">Sarah Jessica T</a></h4>
                  <p>New Member</p>
                </div>

                <img src="assets/img/icons/qute1.png" alt="" class="qute">
              </div>
            </div>
          </div>
        </div>

        <div class="single-slider">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="tes1-image-area">
                <div class="image image-anime">
                  <img src="assets/img/testimonial/tes1-image2.png" alt="">
                </div>
                <div class="logo">
                  <img src="assets/img/logo/tes1-logo.png" alt="">
                </div>
                <ul class="stars">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="heading-area">
                <h5>“Journey Reflections: Hear from Our Members"</h5>
                <p>"The fishing and hunting club has become my second home. The range of activities & the quality of the expeditions are top-notch. I've participated in several workshops that have greatly improved my skills knowledge”</p>
                <div class="bottom-area">
                  <h4><a href="#"> David Jessica</a></h4>
                  <p>Long-time Member</p>
                </div>

                <img src="assets/img/icons/qute1.png" alt="" class="qute">
              </div>
            </div>
          </div>
        </div>


        <div class="single-slider">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="tes1-image-area">
                <div class="image image-anime">
                  <img src="assets/img/testimonial/tes1-image1.png" alt="">
                </div>
                <div class="logo">
                  <img src="assets/img/logo/tes1-logo.png" alt="">
                </div>
                <ul class="stars">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="heading-area">
                <h5>"Authentic Endorsements: Member Testimonials"</h5>
                <p>"As a novice hunter, I was hesitant to join, but the welcoming community and expert guides quickly put my fears to rest. I've learned so much about tracking & hunting techniques, the thrill of my first successful”</p>
                <div class="bottom-area">
                  <h4><a href="#">Sarah Jessica T</a></h4>
                  <p>New Member</p>
                </div>

                <img src="assets/img/icons/qute1.png" alt="" class="qute">
              </div>
            </div>
          </div>
        </div>

        <div class="single-slider">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="tes1-image-area">
                <div class="image">
                  <img src="assets/img/testimonial/tes1-image2.png" alt="">
                </div>
                <div class="logo">
                  <img src="assets/img/logo/tes1-logo.png" alt="">
                </div>
                <ul class="stars">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="heading-area">
                <h5>“Journey Reflections: Hear from Our Members"</h5>
                <p>"The fishing and hunting club has become my second home. The range of activities & the quality of the expeditions are top-notch. I've participated in several workshops that have greatly improved my skills knowledge”</p>
                <div class="bottom-area">
                  <h4><a href="#"> David Jessica</a></h4>
                  <p>Long-time Member</p>
                </div>

                <img src="assets/img/icons/qute1.png" alt="" class="qute">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <img src="assets/img/shapes/tes1-shape1.png" alt="" class="shape1">
  <img src="assets/img/shapes/tes1-shape2.png" alt="" class="shape2">
  <img src="assets/img/shapes/tes1-shape3.png" alt="" class="shape3 animate3">
  <img src="assets/img/shapes/tes1-shape4.png" alt="" class="shape4">
  <img src="assets/img/shapes/tes1-shape5.png" alt="" class="shape5">
</div>

<!--===== TES AREA END =======-->
