<!--===== PRAICING AREA START =======-->

<div class="pricing sp" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto text-center">
        <div class="heading1-w">
          <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="assets/img/icons/span-icon1.png" alt="">Our Pricing Plan </span>
          <h2 class="text-anime-style-3">Sponsorship & Supporter Packages</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800"> Join us & embark on your next outdoor adventure with confidence, knowing <br> that your membership unlocks a world of possibilities in the wild.</p>
        </div>
      </div>
    </div>

    <div class="space60"></div>
    <div class="row _relative">
      <div class="col-lg-4">
        <div class="images-area">
          <div class="image image-anime reveal">
            <img src="assets/img/others/pricing-img.png" alt="">
          </div>
          <img src="assets/img/shapes/pricing-image-shape1.png" alt="" class="shape1">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="pricing-box-area">
          <div class="single-box">
            <div class="row">
              <div class="col-lg-8">
                <div class="left-side">
                  <div class="icon">
                    <img src="assets/img/icons/pricing-icon.png" alt="">
                  </div>
                  <div class="heading1">
                    <h3>Weekly Pass</h3>
                    <div class="space16"></div>
                    <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                    <div class="space30"></div>
                    <a class="theme-btn1" >Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pricing-list">
                  <h2 class="heading">$229 <span>Weekly Pass</span></h2>
                  <ul>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                    <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> Gift Card Vouchers </li>
                    <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> 24/7 Member Support</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="single-box">
            <div class="row">
              <div class="col-lg-8">
                <div class="left-side">
                  <div class="icon">
                    <img src="assets/img/icons/pricing-icon.png" alt="">
                  </div>
                  <div class="heading1">
                    <h3>Monthly Pass</h3>
                    <div class="space16"></div>
                    <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                    <div class="space30"></div>
                    <a class="theme-btn1" >Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pricing-list">
                  <h2 class="heading">$539 <span>/Monthly Pass</span></h2>
                  <ul>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Gift Card Vouchers </li>
                    <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> 24/7 Member Support</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="single-box">
            <div class="row">
              <div class="col-lg-8">
                <div class="left-side">
                  <div class="icon">
                    <img src="assets/img/icons/pricing-icon.png" alt="">
                  </div>
                  <div class="heading1">
                    <h3>Yearly Pass</h3>
                    <div class="space16"></div>
                    <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                    <div class="space30"></div>
                    <a class="theme-btn1" >Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pricing-list">
                  <h2 class="heading">$969 <span>Yewarly Pass</span></h2>
                  <ul>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> Gift Card Vouchers </li>
                    <li><span class="check"><i class="fa-solid fa-check"></i></span> 24/7 Member Support</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <img src="assets/img/shapes/pricing-sec-shape2.png" alt="" class="sec-shape2">
</div>

<!--===== PRAICING AREA END =======-->
